.error{
	color: red;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background:  #c2e2ff !important;	
	border : 1px solid #c2e2fd !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple{
	background-color: #fff !important;
}

div .table{
    width: 100%;
    overflow-y: scroll;
    }
.img-avatar{
	width: 120px;
	height: 120px;
	border: 1px solid #436ae199;
	border-radius: 50%;

}

.form-control[readonly].date-picker{
    background-color: #fff !important;
  	color: #002184;
  }

 .form-control{
 	color: #002184;
 	font-weight: 600;
 }

 .form-control::placeholder{
 	color: #b1b1b1; 
 	font-weight: 400;
 }