.form-control{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    background: #ffffff00 !important;
    border-color: #fbed35 !important;
    color: #fff !important;
    margin-left: 9em !important;
    /*width: : 3em !important;*/
}

label{
    margin-bottom: -2.5em;
}